header {
    height: 60px;
    background-color: #25293C;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    font-size: 1.5em;
}

.leftside {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;

    .logo {
        .logo-text {
            font-size: 1.5em;
            color: #fff;
        }
    }

    nav {
        .nav-items {
            display: flex;
            flex-direction: row;
            gap: 30px;
            justify-content: center;
            align-items: center;

            .nav-img{
                width: 30px;
                height: 30px;
                filter: invert(100%) sepia(1%) saturate(3256%) hue-rotate(186deg) brightness(112%) contrast(70%);
                &&:hover{
                    filter: invert(48%) sepia(46%) saturate(3934%) hue-rotate(190deg) brightness(104%) contrast(101%);
                    cursor: pointer;
                }
            }

            .nav-item {
                display: flex;
                justify-content: center;
                align-items: center;

                &&:hover{
                    color: #2198FF;
                    cursor: pointer;

                    .nav-img{
                        filter: invert(48%) sepia(46%) saturate(3934%) hue-rotate(190deg) brightness(104%) contrast(101%);
                    }
                }
            }

            .active {
                color: #2198FF;

                .nav-img{
                    filter: invert(48%) sepia(46%) saturate(3934%) hue-rotate(190deg) brightness(104%) contrast(101%);
                }
            }
        }
    }
}

.rightside {
    .search {
        background-color: #1C2033;
        border: none;
        outline: none;
        height: 40px;
        width: 350px;
        padding: 0 14px;
        font-size: 20px;
        color: #d9d9d9;
        border-radius: 10px;

        &&::placeholder{
            color: #d9d9d9;
        }
    }
}

@media (max-width: 900px) {
    .rightside {
        .search {
            display: none;
        }
    }
}